<button mat-button color="warn" routerLink='/pretraga'>Idi na pretragu</button>

<br>
<br>

<label class="btn btn-sm btn-block upload" for="file-selector">
    <input id="file-selector" style="display:none;" type="file" 
          (change)="handleFileInput($event.target.files)" 
          value="Upload document"> Upload document </label>


<form [formGroup]="uploadScientificWorkForm" (submit)="saveScientificWork()">

  <div class="form-group">
    <mat-form-field>
      <input matInput
        placeholder="Naziv"
        class="form-control"
        formControlName="title"
      >
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput
        placeholder="Autor"
        class="form-control"
        formControlName="author"
      >
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput
        placeholder="Godina objave"
        class="form-control"
        formControlName="publicationYear"
        type="number"
      >
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput
        placeholder="Kljucne rijeci"
        class="form-control"
        formControlName="keywords"
      >
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput
        placeholder="Naziv fajla"
        class="form-control"
        formControlName="filename"
      >
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput
        placeholder="Tip fajla"
        class="form-control"
        formControlName="mime"
      >
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput
        placeholder="Naziv magazina"
        class="form-control"
        formControlName="magazine"
      >
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-checkbox class="example-margin"formControlName="openAccess">Open access</mat-checkbox>
  </div>

  <br>
  <div class="form-group">
    <mat-select placeholder="Kategorija" formControlName="category">
      <mat-option *ngFor="let c of categories" [value]="c.value">
        {{ c.viewValue }}
      </mat-option>
    </mat-select>
  </div>

  <br>
  <br>
  
  <button mat-button type="submit" [disabled] = "!uploadScientificWorkForm.valid">Sacuvaj</button>

</form>