<div class="naslov">
<h1>NAUCNA CENTRALA</h1> 
</div>

<div class="login" style="width: 14%; margin: 0px auto;">
    <form class="example-form" (ngSubmit)="login()" [formGroup]="loginForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" value="" formControlName="username">
      </mat-form-field> <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User password" value="" formControlName="userPassword" type="password">
      </mat-form-field><br>
      <div style="align-items: center; align-self: center">
          <button mat-raised-button color="primary" type="submit">Prijavi se</button>
      </div>
    </form>

  <br>
  <a routerLink="/registration" class="btn btn-link">Registruj se!</a>
</div>
